body #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  font-family: Arial, Helvetica, sans-serif;
}


.minesweeper {
  align-items: center;
  text-align: center;
}

.board {
  width: 700px;
  border: 1px solid #444;
  border-bottom: none;
  font-size: xx-large;
}

.board .row {
  display: flex;
  height: 49px;
}


.board .row .cell {
  background-color: olivedrab;
  border-right: 1px solid #444;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444;
}

.board .row .cell.lighter {
  background-color: rgb(148, 172, 101);
}

.board .row .cell.open {
  background-color: rgba(240, 169, 108, 0.781);
}

.board .row .cell.open1 {
  background-color: rgba(240, 169, 108, 0.781);
  color: blue;
}

.board .row .cell.open2 {
  background-color: rgba(240, 169, 108, 0.781);
  color: rgb(1, 155, 1);
}

.board .row .cell.open3 {
  background-color: rgba(240, 169, 108, 0.781);
  color: red;
}

.board .row .cell.open:hover {
  background-color: rgba(243, 188, 140, 0.959);
}

.board .row .cell:hover {
  background-color: rgba(243, 188, 140, 0.959);
}

.board .row .cell:last-child {
  border-right: none;
}

.board-head {
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  color: antiquewhite;
}

.reset {
  background-color: antiquewhite;
  border-radius: 15px;
  color: black;
  font-size: xx-large;
}

.flag-count {
  padding-left: 18px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  padding-right: 18px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}