body #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  font-family: Arial, Helvetica, sans-serif;
}

.minesweeper {
  align-items: center;
  text-align: center;
}

.board {
  background-color: olivedrab;
  width: 700px;

  border: 1px solid #444;
  border-bottom: none;
  font-size: x-large;
}

.board .row {
  display: flex;
  height: 49px;
}


.board .row .cell {
  border-right: 1px solid #444;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444;
}

.board .row .cell.open {
  background-color: rgba(240, 169, 108, 0.781);
  font-size: x-large;
  color: blue;

}

.board .row .cell.open:hover {
  background-color: rgba(243, 188, 140, 0.959);
}

.board .row .cell:hover {
  background-color: rgba(243, 188, 140, 0.959);
}

.board .row .cell:last-child {
  border-right: none;
}

.board-head {
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  color: antiquewhite;
}

.reset {

  font-size: 25px;
  background-color: antiquewhite;
  ;
}

.flag-count {
  widows: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  widows: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}